/* GLOBAL STYLES */

*, *::before, *::after {

	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

.clear {

	clear: both;

}

.clearfix::after,
.clearfix::before {

	content: "";
	display: block;
	clear: both;

}

body {
    font-family: sans-serif;
    font-size: 16px;
}

.container, #latest-works, #bottom-content, #download {
    margin: 0 auto;
    width: 1000px;
}

.bold_text {
    font-weight: bold;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
	font-size: 18px;
}


#header {
    background: #e8ebf1;
    height: 80px;
    display: flex;
    align-items: center;
}

h1 {
    margin-right: auto;
}

#header-logo img {
	margin-left: -220px;
}

#header-main_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 94px 0;
    flex-direction: row;
}

#header-main_menu > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.header-main_menu_first {
    color: gray;
    font-size: 13px;
    font-weight: bold;
    padding: 8px;
    text-transform: uppercase;
}

.header-main_menu_first:hover {
    color: #d95b50;
    font-size: 13px;
    font-weight: bold;
    padding: 8px;
    text-transform: uppercase;
}

.prev-arrow-button {
    position: absolute;
	left: 30%;
	top: 34%;
	width: 60px;
	height: 60px;

}

.next-arrow-button {
    position: absolute;
	right: 90%;
	top: 34%;
	width: 60px;
	height: 60px;
}

#ss-container {
    position: relative;
    
}

#ss-container > ul > li {
   margin-left: 50px;
}

#ss-container img {
    margin-top: -20px;
    margin-bottom:20px;
   
}

.thumbnail {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Adjust as needed */
    gap: 1;

}


.thumbnail > li {
    margin-right: -30px; /* Adjust the gap between thumbnails */
    list-style: none;
}

.thumbnail > li:last-child {
    margin-right: 0; /* Remove margin from the last thumbnail */

}

#ss-area {
    background: #d95b50;
    border-top: 1px solid #6ec2ca;
    padding: 19px 0 28px;
    height: 10px;
}

#ss-dots {
    margin: 10px auto;
    width: 160px;
}

#ss-dots li {
    float: left;
    margin: 0 9px;
}

#ss-dots a {
    background: rgba(110, 110, 110, 0.592);
    border-radius: 70px;
    display: block;
    height: 14px;
    width: 14px;
}

#ss-dots a.current {
    background: rgb(255, 255, 255);
    border-radius: 70px;
    display: block;
}



.info{
	display: flex;
	justify-content: space-between;
	gap: 30px;
	max-width: 1000px;
	height: auto;
	margin: 0 auto;
	list-style: none;
}

.info > li{
	flex:1;
}

.info > li > *{
	margin-top: 20px;
}


.info a{
	background: rgb(231 102 60);
	font-family: 'Arial';
	display: block;
	height: 40px;
	width: 80px;
	text-align: center;
	padding: 4px 0;
	color: white;
}

.logotitle{
	display: flex;
	font-family: 'Bison Bold';
	gap: 20px;
	padding: 20px 0;
	font-size: 8px;
	color: rgb(231 102 60);	
}

.more{
	display: none;
	justify-content: center;
	font-size: 16px;
	flex-direction: column;
	margin: 0 auto;
	color: white;
}

.recent-works{
	margin-top: 30px;
}
.recent-works-header > h1{
	font-family: 'Bison Bold';
	color: rgb(231 102 60);
}

.recent-works-header > h1::after{
	
	content: "";
	display: block;
	background-image: url(../img/bg-pattern.png);
	background-repeat: repeat-x;
	width: 740px;
	height: 100px;
	margin-top: -26px;
	margin-left: 269px;
}

.recent-works-list{
	display: flex;
	list-style: none;
	justify-content: space-between;
	max-width: 1000px;
	height: auto;
	margin-top: -50px;
}

.recent-works-list h3
{
	font-size: 23px;
	color: lightgray;
	letter-spacing: 1.5px;
	font-family: 'Trippin';
	border-left: 2px solid lightgray;
	border-right: 2px solid lightgray;
	border-bottom: 2px solid lightgray;
	margin-top: -5px;
}

.recent-works-list span{
	font-size: 20px;
	color: rgb(231 102 60);
}

.accordion{
	margin-top: 30px;
}

.accordion-header {
    background-color: lightpink;
	font-family: 'Bison Bold';
	font-size: 30px;
    color: #333;
    cursor: pointer;
    padding: 10px;
	margin-top: 10px;
    border-bottom: 1px solid #ccc;
}

.accordion-content {
    display: none;
    padding: 10px;
	border:1px solid;
}

.active {
    display: block;
}

/* For footer */

.footer{
	background: rgb(231 102 60);
	padding: 30px;
	margin-top: 60px;
	color: white;
}
.footer p{
	margin: 20px 0;
}
.footer-info{
	display: flex;
	list-style: none;
	justify-content: space-between;
	gap: 50px;
}

.footer-info h3{
	font-family: 'Bison Bold';
	font-size: 30px;
}
.footer-info > *{
	flex: 1;

}

.footer-info a{
	font-size: 15px;
	color: lightgray;
}

.socials-icon{
	list-style: none;
	display: flex;
}



.wrapper{
	width: 1000px;
	margin: 0 auto;
	position: relative;
}




























//@media screen and (max-width: 440px) {

    #header-main_menu {
        display: none;
    }

    #header {
        padding: 20px;
    }

    #menu-toggle:checked~#main_menu {
        display: flex;
        flex-direction: column;
        background: #e8ebf1;
        width: 100%;
        margin: 0;
        padding-top: 30px;
    }

    .menu-button-container {
        margin-top: 10px;
    }

    .menu {
        padding-top: 20px;
    }

    #header-main_menu .menu {
        padding-left: 0;
        justify-content: center;
    }

    #header-main_menu .menu .menu-list {
        padding-left: 0;
    }

    #header-main_menu .menu .menu-list a {
        text-align: center;
    }

    .menu ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }

    .menu ul .menu-list {
        padding: 5px 10px;
    }

    .menu ul .menu-list a {
        padding: 8px 0;
    }

    .menu ul .menu-list a::before {
        display: none;
    }

    .with_dropdown ul {
        position: static;
        width: 100%;
        padding: 10px;
        margin-top: -1px;
    }

    .first_list:hover.first_list ul {
        visibility: visible;
        position: static;
    }

    .with_dropdown .header-main_menu_first {
        background: url(../img/arrow-down.png) no-repeat right 92%;
        padding-right: 23px;
    }

    .with_dropdown:hover .header-main_menu_first {
        background: #fff url(../img/arrow-down.png) no-repeat right 92%;
        border-top: 5px solid #2aacc8;
        color: #2aacc8;
    }

    #latest-works h3 {
        font-size: 14px;
    }

    #mid_content_info {
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    .mid_content_info h2 {
        padding-bottom: 20px;
    }

    .mid_content_info p {
        margin-bottom: 20px;
    }

    #carousel-wrapper {
        height: auto;
    }

    #carousel-wrapper > ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }

    #carousel-wrapper li {
        margin: 30px 0;
        height: auto;
        position: relative;
        width: 100%;
    }

    #carousel-wrapper li a::before {
        content: "";
        z-index: 9;
        display: block;
        width: 100%;
        height: 80px;
        background-color: #2aacc8;
        background-size: contain;
        position: absolute;
        bottom: 0;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s ease;
    }

    #carousel-wrapper li a::after {
        content: "";
        z-index: 10;
        display: block;
        width: 100%;
        height: 80px;
        background: url(../img/eye.png) no-repeat left, url(../img/chain.png) no-repeat right;
        background-position: 30% 50%, 70% 50%;
        background-size: 40px;
        position: absolute;
        bottom: 0;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
    }

    #carousel-wrapper li:hover a::before,
    #carousel-wrapper li:hover a::after {
        opacity: 1;
        visibility: visible;
    }

    #bottom-content > ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    #testimonials {
        width: 100%;
    }

    #clients ul {
        height: auto;
        width: 100%;
        justify-content: center;
    }

    #clients ul > li > img {
        width: 100%;
    }

    #download > ul {
        width: 100%;
        justify-content: center;
    }

    #download > ul > li > * {
        width: 100%;
    }

    #download > ul > li > a {
        margin-top: 20px;
    }

    #footer {
        margin-top: 20px;
    }

}
